.wrapper {
  font-family: fantasy;
}
.header {
  border: 1rem black;
  background-color: #ffc692;
}
.subheader {
  border: 1rem #9c5d1a;
}
.body {
  background-color: aliceblue;
  border-color: #f6ae5c;
  border: 1rem;
}
.sport-icon {
  color: goldenrod;
}
